USE [master]
GO
/****** Object:  Database [Shops_DB]    Script Date: 9/16/2018 9:04:02 AM ******/
CREATE DATABASE [Shops_DB] ON  PRIMARY 
( NAME = N'Shops_DB_Data', FILENAME = N'C:\Gilbert\Databases\Shops_DB_Data.MDF' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Shops_DB_Log', FILENAME = N'C:\Gilbert\Databases\Shops_DB_Log.LDF' , SIZE = 1024KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shops_DB].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Shops_DB]
GO
/****** Object:  User [admin]    Script Date: 9/16/2018 9:04:02 AM ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'admin'
GO
/****** Object:  UserDefinedFunction [dbo].[getDaysPrompt]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getDaysPrompt] (@bdate datetime, @curDate datetime)
  
RETURNS int AS  

BEGIN 

 	declare @mDate as datetime
 	declare @days as int
	
	select @mDate=dateadd(year,datediff(year,@bdate,@curDate),@bdate)

	if @curDate> @mdate
	select @days=datediff(day,@curDate,dateadd(year,1,@mDate))
	else
	select @days=datediff(day,@curDate,@mDate)

	return @days
END

GO
/****** Object:  UserDefinedFunction [dbo].[GetProductNames]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetProductNames] 
(
	-- Add the parameters for the function here
	@salesId int
)
RETURNS varchar(max)
AS
BEGIN

	DECLARE @listStr VARCHAR(MAX)


  select @listStr = COALESCE(@listStr+',' , '') +  p.ProductName from [dbo].[salesdetails] s inner join [dbo].[products] p on p.ProductID=s.ProductID
  where s.SalesID=@salesId


	-- Return the result of the function
	RETURN @listStr

END

GO
/****** Object:  UserDefinedFunction [dbo].[monthName]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[monthName] ( @datePaid datetime)  

RETURNS varchar(25)  AS  

BEGIN 

declare @results varchar(25)

if month(@datepaid)=1
set @results= 'January , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=2
set @results= 'February , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=3
set @results= 'March , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=4
set @results= 'April , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=5
set @results= 'May , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=6
set @results= 'June , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=7
set @results= 'July , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=8
set @results= 'August , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=9
set @results= 'September , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=10
set @results= 'October , '  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=11
set @results= 'November ,'  +  cast( year (@datepaid) as varchar(5))
else if month(@datepaid)=12
set @results= 'December , '  +  cast( year (@datepaid) as varchar(5))
return @results
END

GO
/****** Object:  UserDefinedFunction [dbo].[quarterName]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[quarterName] (@datepaid datetime)  
RETURNS varchar(25)  AS  
BEGIN 

declare @res as varchar(25)

if   { fn QUARTER(@datepaid) } =1
set @res='First Quater , ' + cast( year(@datepaid)as varchar(5))
else  if   { fn QUARTER(@datepaid) } =2

set @res='Second Quater , ' + cast( year(@datepaid)as varchar(5))
else if   { fn QUARTER(@datepaid) } =3

set @res='Three Quater , ' + cast( year(@datepaid)as varchar(5))
else if   { fn QUARTER(@datepaid) } =4

set @res='Fourth Quater , ' + cast( year(@datepaid)as varchar(5))

return @res
END
GO
/****** Object:  Table [dbo].[categories]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CateryName] [varchar](15) NOT NULL,
	[Description] [varchar](70) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK__categories__76CBA758] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[company_orders]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[SubplierID] [int] NULL,
	[EmployeeID] [int] NOT NULL,
	[OrderDate] [smalldatetime] NOT NULL,
	[RequiredDate] [smalldatetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK__company_orders__78B3EFCA] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[creditors]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditors](
	[OrderID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[AmountDue] [decimal](18, 2) NOT NULL,
	[CompletePayments] [bit] NOT NULL,
 CONSTRAINT [PK__creditors__7A9C383C] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customers]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](40) NULL,
	[ContactName] [varchar](30) NULL,
	[ContactTitle] [varchar](30) NULL,
	[Address] [varchar](60) NULL,
	[Country] [varchar](15) NULL,
	[PhoneNo] [varchar](40) NULL,
	[EmailAddress] [varchar](30) NULL,
 CONSTRAINT [PK__customers__7C8480AE] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Debtors]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debtors](
	[SalesID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[AmountDue] [decimal](18, 2) NULL,
	[CompletePayments] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[FirstName] [varchar](25) NOT NULL,
	[Sex] [varchar](9) NOT NULL,
	[JobID] [int] NOT NULL,
	[BirthDate] [smalldatetime] NOT NULL,
	[HireDate] [smalldatetime] NULL,
	[Address] [varchar](60) NULL,
	[PhoneNo] [varchar](40) NULL,
	[Country] [varchar](15) NULL,
	[EmailAddress] [varchar](40) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK__Employees__00551192] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseTypeId] [int] NOT NULL,
	[AmountSpent] [decimal](18, 4) NOT NULL,
	[DateSpent] [datetime] NOT NULL,
	[ExpenseDetail] [varchar](250) NOT NULL,
	[ApprovedBy] [varchar](150) NULL,
	[ReceiptDetail] [varchar](350) NOT NULL,
	[PaidTo] [varchar](50) NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExpenseType]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExpenseType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ExpenseType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExpiryDates]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpiryDates](
	[ExpiryDateID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[OrderDetailsID] [int] NOT NULL,
 CONSTRAINT [PK_ExpiryDates] PRIMARY KEY CLUSTERED 
(
	[ExpiryDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [varchar](15) NOT NULL,
	[Description] [varchar](70) NULL,
 CONSTRAINT [PK__Jobs__023D5A04] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [varchar](50) NOT NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[ExpiryDate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[payment_creditors]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[payment_creditors](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[DatePaid] [smalldatetime] NOT NULL,
	[TimePaid] [smalldatetime] NOT NULL,
	[Amountpaid] [decimal](18, 2) NOT NULL,
	[ReceiptNo] [varchar](50) NULL,
 CONSTRAINT [PK__payment_creditor__060DEAE8] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[payment_debtors]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[payment_debtors](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[SalesID] [int] NOT NULL,
	[DatePaid] [smalldatetime] NOT NULL,
	[TimePaid] [smalldatetime] NOT NULL,
	[Amountpaid] [decimal](18, 2) NOT NULL,
	[ReceiptNo] [varchar](50) NULL,
 CONSTRAINT [PK__payment_debtors__07F6335A] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](40) NULL,
	[ProductName] [varchar](40) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL CONSTRAINT [DF_products_Discount]  DEFAULT (0.0),
	[UnitsInStock] [int] NOT NULL,
	[ReorderLevel] [int] NULL,
	[LocationID] [int] NULL,
	[Discontinued] [bit] NULL CONSTRAINT [DF_products_Discontinued]  DEFAULT (0),
	[Description] [varchar](150) NULL,
	[WHUnitPrice] [decimal](18, 2) NULL,
	[AvgCost] [decimal](18, 2) NULL,
 CONSTRAINT [PK__products__09DE7BCC] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sales]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sales](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[SalesDate] [smalldatetime] NOT NULL,
	[SalesTime] [datetime] NOT NULL,
	[PaymentType] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PriceOffset] [decimal](18, 2) NULL,
	[SaleType] [varchar](50) NULL,
 CONSTRAINT [PK__sales__0BC6C43E] PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[salesdetails]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesdetails](
	[SalesID] [int] NOT NULL CONSTRAINT [DF_salesdetails_SalesID]  DEFAULT (0.0),
	[ProductID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShopInfo]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShopName] [varchar](150) NOT NULL,
	[Telephone] [varchar](150) NOT NULL,
	[OwnerName] [varchar](50) NULL,
	[Location] [varchar](150) NOT NULL,
	[Email] [varchar](250) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ShopInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](40) NOT NULL,
	[ContactName] [varchar](30) NOT NULL,
	[Address] [varchar](60) NULL,
	[Country] [varchar](15) NOT NULL,
	[PhoneNO] [varchar](40) NOT NULL,
	[Fax] [varchar](24) NULL,
	[HomePage] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
 CONSTRAINT [PK__suppliers__1367E606] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMenu]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMenu](
	[menuID] [int] IDENTITY(1,1) NOT NULL,
	[menuName] [varchar](50) NOT NULL,
	[menuText] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblMenu] PRIMARY KEY CLUSTERED 
(
	[menuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usergroups]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usergroups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
	[GroupMenus] [text] NULL,
	[Description] [varchar](150) NULL,
 CONSTRAINT [PK__usergroups__15502E78] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userstbl]    Script Date: 9/16/2018 9:04:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userstbl](
	[Userid] [varchar](20) NOT NULL,
	[Passwd] [binary](50) NULL,
	[EmployeeID] [int] NOT NULL,
	[GroupID] [int] NULL,
 CONSTRAINT [PK__userstbl__173876EA] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([CategoryID], [CateryName], [Description], [Picture]) VALUES (2, N'Toileteries', NULL, NULL)
INSERT [dbo].[categories] ([CategoryID], [CateryName], [Description], [Picture]) VALUES (4, N'utensils', NULL, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[company_orders] ON 

INSERT [dbo].[company_orders] ([OrderID], [SubplierID], [EmployeeID], [OrderDate], [RequiredDate], [TotalAmount]) VALUES (1, 1, 1, CAST(N'2008-12-05 19:56:00' AS SmallDateTime), CAST(N'2008-12-05 19:56:00' AS SmallDateTime), CAST(216.00 AS Decimal(18, 2)))
INSERT [dbo].[company_orders] ([OrderID], [SubplierID], [EmployeeID], [OrderDate], [RequiredDate], [TotalAmount]) VALUES (2, 1, 1, CAST(N'2008-12-06 09:09:00' AS SmallDateTime), CAST(N'2008-12-06 09:09:00' AS SmallDateTime), CAST(360.00 AS Decimal(18, 2)))
INSERT [dbo].[company_orders] ([OrderID], [SubplierID], [EmployeeID], [OrderDate], [RequiredDate], [TotalAmount]) VALUES (3, 1, 1, CAST(N'2008-12-06 09:12:00' AS SmallDateTime), CAST(N'2008-12-06 09:12:00' AS SmallDateTime), CAST(612.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[company_orders] OFF
INSERT [dbo].[creditors] ([OrderID], [SupplierID], [EmployeeID], [AmountDue], [CompletePayments]) VALUES (4, 1, 1, CAST(5.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[creditors] ([OrderID], [SupplierID], [EmployeeID], [AmountDue], [CompletePayments]) VALUES (5, 1, 1, CAST(2.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[creditors] ([OrderID], [SupplierID], [EmployeeID], [AmountDue], [CompletePayments]) VALUES (6, 1, 1, CAST(0.89 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([CustomerID], [CompanyName], [ContactName], [ContactTitle], [Address], [Country], [PhoneNo], [EmailAddress]) VALUES (1, N'asdasd', N'sdsd', N'asds', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[customers] OFF
INSERT [dbo].[Debtors] ([SalesID], [CustomerID], [EmployeeID], [AmountDue], [CompletePayments]) VALUES (4, 1, 1, CAST(9.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Debtors] ([SalesID], [CustomerID], [EmployeeID], [AmountDue], [CompletePayments]) VALUES (5, 1, 1, CAST(8.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Debtors] ([SalesID], [CustomerID], [EmployeeID], [AmountDue], [CompletePayments]) VALUES (6, 1, 1, CAST(17.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [Sex], [JobID], [BirthDate], [HireDate], [Address], [PhoneNo], [Country], [EmailAddress], [Picture]) VALUES (1, N'Adjin', N'Gilbert', N'Male', 1, CAST(N'1985-04-14 00:00:00' AS SmallDateTime), CAST(N'2007-06-12 00:00:00' AS SmallDateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [Sex], [JobID], [BirthDate], [HireDate], [Address], [PhoneNo], [Country], [EmailAddress], [Picture]) VALUES (2, N'Osei', N'Mensah', N'Male', 1, CAST(N'1987-12-08 00:00:00' AS SmallDateTime), CAST(N'2008-12-08 00:00:00' AS SmallDateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Expenses] ON 

INSERT [dbo].[Expenses] ([Id], [ExpenseTypeId], [AmountSpent], [DateSpent], [ExpenseDetail], [ApprovedBy], [ReceiptDetail], [PaidTo], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, 2, CAST(12.0000 AS Decimal(18, 4)), CAST(N'2018-06-05 17:43:45.000' AS DateTime), N'qweq', N'weqw', N'qweqw', N'qweqwe', NULL, NULL, NULL, NULL)
INSERT [dbo].[Expenses] ([Id], [ExpenseTypeId], [AmountSpent], [DateSpent], [ExpenseDetail], [ApprovedBy], [ReceiptDetail], [PaidTo], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, 2, CAST(12.0000 AS Decimal(18, 4)), CAST(N'2018-06-05 17:43:45.000' AS DateTime), N'qwe', N'qweq', N'asda', N'weqwe', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Expenses] OFF
SET IDENTITY_INSERT [dbo].[ExpenseType] ON 

INSERT [dbo].[ExpenseType] ([Id], [TypeName], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'asdas', N'asdasd', NULL, NULL, NULL, NULL)
INSERT [dbo].[ExpenseType] ([Id], [TypeName], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'peace', N'asdas', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ExpenseType] OFF
SET IDENTITY_INSERT [dbo].[ExpiryDates] ON 

INSERT [dbo].[ExpiryDates] ([ExpiryDateID], [ProductID], [Quantity], [ExpiryDate], [OrderDetailsID]) VALUES (1, 3, 23, CAST(N'2010-03-28 13:13:42.000' AS DateTime), 9)
INSERT [dbo].[ExpiryDates] ([ExpiryDateID], [ProductID], [Quantity], [ExpiryDate], [OrderDetailsID]) VALUES (2, 5, 45, CAST(N'2010-04-17 00:00:00.000' AS DateTime), 10)
INSERT [dbo].[ExpiryDates] ([ExpiryDateID], [ProductID], [Quantity], [ExpiryDate], [OrderDetailsID]) VALUES (3, 3, 12, CAST(N'2014-04-17 15:29:14.000' AS DateTime), 11)
SET IDENTITY_INSERT [dbo].[ExpiryDates] OFF
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobID], [JobName], [Description]) VALUES (1, N'Manager', N'Manages the Shop')
INSERT [dbo].[Jobs] ([JobID], [JobName], [Description]) VALUES (2, N'Sales Person', N'Sells items in the shop')
INSERT [dbo].[Jobs] ([JobID], [JobName], [Description]) VALUES (3, N'Cleaner', N'sdfsdf')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationID], [LocationName], [Description]) VALUES (1, N'kk', N'assdasd')
INSERT [dbo].[Location] ([LocationID], [LocationName], [Description]) VALUES (2, N'shelf i', N'sdfsdf')
INSERT [dbo].[Location] ([LocationID], [LocationName], [Description]) VALUES (3, N'nnnnnn', NULL)
SET IDENTITY_INSERT [dbo].[Location] OFF
INSERT [dbo].[orderdetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount], [ExpiryDate]) VALUES (1, 1, CAST(23.00 AS Decimal(18, 2)), 12, CAST(5.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[orderdetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount], [ExpiryDate]) VALUES (2, 3, CAST(8.00 AS Decimal(18, 2)), 45, CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[orderdetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount], [ExpiryDate]) VALUES (3, 3, CAST(21.00 AS Decimal(18, 2)), 34, CAST(3.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[payment_creditors] ON 

INSERT [dbo].[payment_creditors] ([PaymentID], [OrderID], [DatePaid], [TimePaid], [Amountpaid], [ReceiptNo]) VALUES (1, 3, CAST(N'2008-12-07 17:42:00' AS SmallDateTime), CAST(N'2008-12-07 17:42:00' AS SmallDateTime), CAST(12.00 AS Decimal(18, 2)), N'cxvcxvcx')
INSERT [dbo].[payment_creditors] ([PaymentID], [OrderID], [DatePaid], [TimePaid], [Amountpaid], [ReceiptNo]) VALUES (2, 22, CAST(N'2016-06-07 16:44:00' AS SmallDateTime), CAST(N'2016-06-07 16:44:00' AS SmallDateTime), CAST(50.00 AS Decimal(18, 2)), N'qweqwe')
SET IDENTITY_INSERT [dbo].[payment_creditors] OFF
SET IDENTITY_INSERT [dbo].[payment_debtors] ON 

INSERT [dbo].[payment_debtors] ([PaymentID], [SalesID], [DatePaid], [TimePaid], [Amountpaid], [ReceiptNo]) VALUES (1, 7, CAST(N'2008-12-07 17:02:00' AS SmallDateTime), CAST(N'2008-12-07 00:00:00' AS SmallDateTime), CAST(4.00 AS Decimal(18, 2)), N'sdf4')
INSERT [dbo].[payment_debtors] ([PaymentID], [SalesID], [DatePaid], [TimePaid], [Amountpaid], [ReceiptNo]) VALUES (2, 7, CAST(N'2008-12-07 17:14:00' AS SmallDateTime), CAST(N'2008-12-07 00:00:00' AS SmallDateTime), CAST(7.00 AS Decimal(18, 2)), N'dsdf')
INSERT [dbo].[payment_debtors] ([PaymentID], [SalesID], [DatePaid], [TimePaid], [Amountpaid], [ReceiptNo]) VALUES (3, 9, CAST(N'2008-12-07 17:16:00' AS SmallDateTime), CAST(N'2008-12-07 00:00:00' AS SmallDateTime), CAST(12.00 AS Decimal(18, 2)), N'sdf')
SET IDENTITY_INSERT [dbo].[payment_debtors] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([ProductID], [ProductCode], [ProductName], [CategoryID], [UnitPrice], [Discount], [UnitsInStock], [ReorderLevel], [LocationID], [Discontinued], [Description], [WHUnitPrice], [AvgCost]) VALUES (1, NULL, N'Shaba', 1, CAST(12.00 AS Decimal(18, 2)), CAST(0.12 AS Decimal(18, 2)), 136, 20, 1, 1, N'kk', CAST(11.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[products] ([ProductID], [ProductCode], [ProductName], [CategoryID], [UnitPrice], [Discount], [UnitsInStock], [ReorderLevel], [LocationID], [Discontinued], [Description], [WHUnitPrice], [AvgCost]) VALUES (2, NULL, N'Mercy Cream', 1, CAST(3.00 AS Decimal(18, 2)), CAST(0.03 AS Decimal(18, 2)), 139, 12, 1, 0, N'kk', CAST(2.00 AS Decimal(18, 2)), CAST(0.10 AS Decimal(18, 2)))
INSERT [dbo].[products] ([ProductID], [ProductCode], [ProductName], [CategoryID], [UnitPrice], [Discount], [UnitsInStock], [ReorderLevel], [LocationID], [Discontinued], [Description], [WHUnitPrice], [AvgCost]) VALUES (3, NULL, N'Mercy Cre', 2, CAST(5.00 AS Decimal(18, 2)), CAST(0.05 AS Decimal(18, 2)), 101, 8, 1, 0, N'kk', CAST(4.00 AS Decimal(18, 2)), CAST(0.24 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[sales] ON 

INSERT [dbo].[sales] ([SalesID], [CustomerID], [EmployeeID], [SalesDate], [SalesTime], [PaymentType], [TotalAmount], [PriceOffset], [SaleType]) VALUES (1, 0, 0, CAST(N'2008-12-05 09:38:00' AS SmallDateTime), CAST(N'2008-12-05 09:37:55.983' AS DateTime), 1, CAST(24.00 AS Decimal(18, 2)), NULL, N'Retail')
INSERT [dbo].[sales] ([SalesID], [CustomerID], [EmployeeID], [SalesDate], [SalesTime], [PaymentType], [TotalAmount], [PriceOffset], [SaleType]) VALUES (2, 0, 0, CAST(N'2008-12-07 08:13:00' AS SmallDateTime), CAST(N'2008-12-07 08:13:09.687' AS DateTime), 1, CAST(34.00 AS Decimal(18, 2)), NULL, N'Retail')
INSERT [dbo].[sales] ([SalesID], [CustomerID], [EmployeeID], [SalesDate], [SalesTime], [PaymentType], [TotalAmount], [PriceOffset], [SaleType]) VALUES (3, 0, 0, CAST(N'2008-12-07 08:13:00' AS SmallDateTime), CAST(N'2008-12-07 08:13:21.037' AS DateTime), 1, CAST(58.00 AS Decimal(18, 2)), NULL, N'Retail')
SET IDENTITY_INSERT [dbo].[sales] OFF
INSERT [dbo].[salesdetails] ([SalesID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (1, 1, CAST(12.00 AS Decimal(18, 2)), 2, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[salesdetails] ([SalesID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (2, 1, CAST(12.00 AS Decimal(18, 2)), 2, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[salesdetails] ([SalesID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (2, 3, CAST(5.00 AS Decimal(18, 2)), 2, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ShopInfo] ON 

INSERT [dbo].[ShopInfo] ([Id], [ShopName], [Telephone], [OwnerName], [Location], [Email], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'NKUNIM PHARMACY', N'asaas', N'asdas', N'asdasd', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShopInfo] OFF
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([SupplierID], [CompanyName], [ContactName], [Address], [Country], [PhoneNO], [Fax], [HomePage], [EmailAddress]) VALUES (1, N'Giania', N'Hansen', N'P.o.box 12 o', N'ghana', N'0244567896', NULL, N'www.gian.com', N'df@m.c')
INSERT [dbo].[suppliers] ([SupplierID], [CompanyName], [ContactName], [Address], [Country], [PhoneNO], [Fax], [HomePage], [EmailAddress]) VALUES (2, N'qweq', N'we', N'qweq', N'qwew', N'qweqwe', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[suppliers] OFF
SET IDENTITY_INSERT [dbo].[tblMenu] ON 

INSERT [dbo].[tblMenu] ([menuID], [menuName], [menuText]) VALUES (1, N'LogOffToolStripMenuItem', N'Log Off')
INSERT [dbo].[tblMenu] ([menuID], [menuName], [menuText]) VALUES (2, N'CloseToolStripMenuItem', N'Exit')
INSERT [dbo].[tblMenu] ([menuID], [menuName], [menuText]) VALUES (3, N'AddProductsToolStripMenuItem', N'Products Info')
SET IDENTITY_INSERT [dbo].[tblMenu] OFF
SET IDENTITY_INSERT [dbo].[usergroups] ON 

INSERT [dbo].[usergroups] ([GroupID], [GroupName], [GroupMenus], [Description]) VALUES (2, N'Sales Person', N'Products Reports,Sales Reports,Customers Info,Suppliers Info,Job Types,', N'')
INSERT [dbo].[usergroups] ([GroupID], [GroupName], [GroupMenus], [Description]) VALUES (3, N'reports', N'Products Reports,Sales Reports,Suppliers Info,Debtors,', N'generate reports')
SET IDENTITY_INSERT [dbo].[usergroups] OFF
INSERT [dbo].[userstbl] ([Userid], [Passwd], [EmployeeID], [GroupID]) VALUES (N'admin', 0x6161000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, 1, 3)
INSERT [dbo].[userstbl] ([Userid], [Passwd], [EmployeeID], [GroupID]) VALUES (N'kk', 0x6161000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, 2, 2)
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_ExpenseType] FOREIGN KEY([ExpenseTypeId])
REFERENCES [dbo].[ExpenseType] ([Id])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_ExpenseType]
GO
USE [master]
GO
